<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pycampers.flutterpdfviewer">

    <application>
        <activity
            android:name=".PdfActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    </application>
</manifest>
